.headerGradient {
background: #ffffff;
background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.73) 82%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.27) 100%);
background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.73) 82%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.27) 100%);
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.73) 82%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.27) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
}